@use '../../style' as *;

.chat {
    @include themify($themes) {
        background-color: #F6F3F3;
        color: themed('textColor');

        @include mobile {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            padding: 10px 20px;
            border-bottom: 2px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            .link-detail-chat {
                text-decoration: none;
                color: inherit;

                * {
                    text-decoration: inherit;
                }

                .info-user {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 10px;

                    &:hover {
                        background-color: #F6F3F3;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    .avata {
                        width: 40px;
                        height: 40px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    .name {
                        font-size: 18px;
                        font-weight: 600;
                        margin: 10px;
                    }
                }
            }

            .info-detail {
                margin-right: 10px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 20px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #ebe4e4;
                    border-radius: 50%;
                }
            }
        }

        .container {
            padding: 10px 20px;
            flex-grow: 1; // Chiếm khoảng trống giữa header và footer
            overflow-y: auto; // Cuộn khi có nhiều tin nhắn
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            gap: 25px;

            .message {
                max-width: 80%; // Giới hạn chiều rộng của tin nhắn
                display: flex;
                align-items: flex-start; // Căn chỉnh các thành phần theo chiều dọc
                gap: 10px;

                &.chatLeft {
                    align-self: flex-start;

                    .message-content {
                        position: relative; // Để định vị timestamp
                    }

                    .message-body {
                        background-color: #e8c0c0; // Màu nền cho tin nhắn bên trái
                        color: #000;
                        padding: 10px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;

                        img {
                            max-width: 200px;
                            border-radius: 10px;
                        }

                        p {
                            margin: 0;
                            word-wrap: break-word;
                        }
                    }

                    .avatar {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        flex-shrink: 0; // Đảm bảo kích thước cố định
                        border: 2px solid #f3e4e4;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                &.chatRight {
                    align-self: flex-end;

                    .message-content {
                        position: relative; // Để định vị timestamp
                    }

                    .message-body {
                        background-color: #0078ff; // Màu nền cho tin nhắn bên phải
                        color: #fff;
                        padding: 10px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;

                        img {
                            max-width: 200px;
                            border-radius: 10px;
                        }

                        p {
                            margin: 0;
                            word-wrap: break-word;
                        }
                    }

                    .avatar {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        flex-shrink: 0;
                        border: 2px solid #f3e4e4;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .message-content {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                .timestamp {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.5); // Màu sắc nhẹ nhàng hơn
                    position: absolute;
                    bottom: -20px; // Đặt ở góc dưới
                    right: 10px; // Căn phải
                }
            }
        }



        .footer {
            .image-preview-container {
                display: flex;
                align-items: center;
                gap: 15px;
                max-width: 100%; // Đảm bảo khung không vượt quá component cha
                overflow-x: auto; // Kích hoạt cuộn ngang khi cần
                white-space: nowrap; // Đảm bảo tất cả ảnh nằm trên một dòng
                padding: 5px;

                &::-webkit-scrollbar {
                    width: 8px; // Chiều rộng thanh cuộn
                    height: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #727474; // Màu của thanh cuộn
                    border-radius: 10px; // Bo góc thanh cuộn
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #505150; // Màu khi hover
                }

                &::-webkit-scrollbar-track {
                    background: #aeaeae;
                    /* Màu nền của thanh cuộn */
                    border-radius: 10px;
                    /* Bo góc cho nền */
                }

                .image-preview {
                    flex-shrink: 0; // Đảm bảo ảnh không co lại
                    width: 100px; // Đặt width cố định cho mỗi ảnh
                    max-height: 100px;
                    position: relative;
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;

                    img {
                        width: 100%;
                        // height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }

                    i {
                        margin-left: -15px;
                        margin-top: -6px;
                    }
                }
            }

            .input-send {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: #ffffff;
                border-radius: 5px;
                gap: 10px;

                .input {
                    display: flex;
                    align-items: center;
                    width: 100%; // Đảm bảo input chiếm full chiều rộng container
                    gap: 10px;

                    .btn-img,
                    .send {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px; // Đảm bảo icon không bị co giãn
                        height: 40px;
                        border-radius: 50%;
                        background-color: #ffffff;
                        cursor: pointer;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

                        i {
                            font-size: 20px;
                            color: #6c757d;
                        }

                        &:hover {
                            background-color: #F6F3F3;

                            i {
                                color: #495057;
                            }
                        }
                    }

                    .input-textarea {
                        flex-grow: 1;
                        font-size: 16px;
                        padding: 10px 15px;
                        border: 1px solid #ddd;
                        border-radius: 20px;
                        resize: none;
                        box-sizing: border-box;
                        min-height: 40px;
                        max-height: 100px;

                        &:focus {
                            outline: none;
                            border: 1.5px solid #6c757d;
                        }

                        &::placeholder {
                            color: #adb5bd;
                        }

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #6c757d;
                            border-radius: 10px;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background-color: #495057;
                        }
                    }
                }
            }
        }

        // Media queries for responsive design
        @media (max-width: 768px) {
            .header {
                padding: 10px;

                .info-user {
                    .name {
                        font-size: 16px;
                    }
                }

                .info-detail {
                    width: 30px;
                    height: 30px;

                    i {
                        font-size: 16px;
                    }
                }
            }

            .container {
                padding: 10px;

                .message {
                    max-width: 80%;
                    font-size: 14px;
                }
            }

            .footer {
                .image-preview-container {
                    gap: 10px;

                    .image-preview {
                        width: 80px;
                        max-height: 80px;
                    }
                }

                .input-send {
                    padding: 10px;

                    .input {

                        .btn-img,
                        .send {
                            width: 30px;
                            height: 30px;

                            i {
                                font-size: 16px;
                            }
                        }

                        .input-textarea {
                            font-size: 14px;
                            padding: 8px 12px;
                        }
                    }
                }
            }
        }

        @media (max-width: 480px) {
            .header {
                padding: 5px;

                .info-user {
                    .name {
                        font-size: 14px;
                    }
                }

                .info-detail {
                    width: 25px;
                    height: 25px;

                    i {
                        font-size: 14px;
                    }
                }
            }

            .container {
                padding: 5px;

                .message {
                    max-width: 90%;
                    font-size: 12px;
                }
            }

            .footer {
                .image-preview-container {
                    gap: 5px;

                    .image-preview {
                        width: 60px;
                        max-height: 60px;
                    }
                }

                .input-send {
                    padding: 5px;

                    .input {

                        .btn-img,
                        .send {
                            width: 25px;
                            height: 25px;

                            i {
                                font-size: 14px;
                            }
                        }

                        .input-textarea {
                            font-size: 12px;
                            padding: 6px 10px;
                        }
                    }
                }
            }
        }

        @media (max-width: 360px) {
            .header {
                padding: 5px;

                .info-user {
                    .name {
                        font-size: 12px;
                    }
                }

                .info-detail {
                    width: 20px;
                    height: 20px;

                    i {
                        font-size: 12px;
                    }
                }
            }

            .container {
                padding: 5px;

                .message {
                    max-width: 95%;
                    font-size: 10px;
                }
            }

            .footer {
                .image-preview-container {
                    gap: 5px;

                    .image-preview {
                        width: 50px;
                        max-height: 50px;
                    }
                }

                .input-send {
                    padding: 5px;

                    .input {

                        .btn-img,
                        .send {
                            width: 20px;
                            height: 20px;

                            i {
                                font-size: 12px;
                            }
                        }

                        .input-textarea {
                            font-size: 10px;
                            padding: 4px 8px;
                        }
                    }
                }
            }
        }
    }
}